@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:300,400);
@import url(../css/androidicons.css);
* {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.938em;
  line-height: 1.6em;
  color: #7b7b7b;
  background-color: #f2f2f2; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.200em;
  line-height: 1em;
  margin: 0px 0 40px 0;
  padding: 0 0 0px 0;
  color: #444444;
  display: block;
  letter-spacing: 0em;
  text-align: center;
  position: relative; }

h2 {
  font-size: 1.667em;
  line-height: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 100;
  margin: 0px 0 10px 0;
  padding: 0 0 0 0px;
  text-align: left;
  color: #444444; }

.glyphs-box {
  z-index: 9000;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0em;
  left: 0em;
  padding-top: 4em; }
  .glyphs-box .glyphs {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif; }
    .glyphs-box .glyphs > h1 {
      margin-top: 40px; }
    .glyphs-box .glyphs h2 {
      border-bottom: 1px solid #ddd;
      text-align: center; }
    .glyphs-box .glyphs .row .col-10 {
      width: 100%;
      max-width: 10%;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 15px;
      float: left;
      text-align: center; }
      .glyphs-box .glyphs .row .col-10 img {
        display: block;
        width: 100%;
        max-width: 32px;
        margin: 0 auto 5px auto; }
      .glyphs-box .glyphs .row .col-10 span {
        display: block;
        color: #000;
        font-size: 30px;
        margin-bottom: 5px; }
    .glyphs-box .glyphs .row:after {
      content: "";
      clear: both;
      display: table; }

.row .col-4 {
  max-width: 33.33%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  text-align: center; }
  .row .col-4 .image {
    margin-bottom: 20px;
    height: 60px; }
.row:after {
  content: "";
  clear: both;
  display: table; }

/* Glyphs */
@media screen and (max-width: 1850px) {
  .glyphs-box .glyphs {
    max-width: 80%;
    margin: 0 auto; }

  .glyphs-box .glyphs .row .col-10 {
    max-width: 20%; } }
@media screen and (max-width: 1024px) {
  .glyphs-box .glyphs {
    max-width: 80%;
    margin: 0 auto; }

  .glyphs-box .glyphs .row .col-10 {
    max-width: 25%; } }
@media screen and (max-width: 800px) {
  .glyphs-box .glyphs {
    max-width: 90%;
    margin: 0 auto; }

  .glyphs-box .glyphs .row .col-10 {
    max-width: 33.33%; } }
@media screen and (max-width: 600px) {
  .row .col-4 {
    max-width: 100%; } }
@media screen and (max-width: 460px) {
  .glyphs-box .glyphs {
    max-width: 100%;
    margin: 0 auto; }

  .glyphs-box .glyphs .row .col-10 {
    max-width: 50%; } }
